* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation-bar-container {
  background-color: beige;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20px;
}
.link {
  list-style: none;
  color: black;
}
